.label-order {
  font-weight: bold;
  font-size: 14px;
}

.pd-left-30 {
  padding-left: 30px;
}

.text-danger {
  font-size: 14px;
}

.box-header {
  padding-bottom: 0px;
}

.ln_solid {
  margin: 10px 0;
}

.mg-right-0 {
  margin-right: 0px;
}

.text-wrap {
  font-weight: bold;
  font-size: 16px;
}
